<div class="footer-row js-footer-height">
    <div class="footer-left">
        <div class="footer-social">
            <p class="footer_social__txt">yamaha motor vietnam network</p>
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a class="footer-social__link"
                       href="#" target="_blank"
                       rel="noopener noreferrer">
                        <picture>
                            <img class="footer-social__image webpexpress-processed"
                                 src="~/wwwroot/Images/ico-fb.png"
                                 alt="yamaha facebook">
                        </picture>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link"
                       href="#" target="_blank"
                       rel="noopener noreferrer">
                        <picture>
                            <img class="footer-social__image webpexpress-processed"
                                 src="~/wwwroot/Images/ico-instagram.png"
                                 alt="yamaha instagram">
                        </picture>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a class="footer-social__link"
                       href="#" target="_blank"
                       rel="noopener noreferrer">
                        <picture>
                            <img class="footer-social__image webpexpress-processed"
                                 src="~/wwwroot/Images/ico-youtube.png"
                                 alt="yamaha youtube">
                        </picture>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-navigation">
        <ul class="footer-navigation__list">
            <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="/catalogue/">
                    Catalogue
                    Điện Tử
                </a>
            </li>
            <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="/lien-he/">Liên hệ</a>
            </li>
            <li class="footer-navigation__item"><a class="footer-navigation__link" href="/?s=">tìm kiếm</a></li>
            <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="/hoi-dap/">hỏi đáp</a>
            </li>
            <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="/policy/">
                    Chính sách
                    bảo mật
                </a>
            </li>
            <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="/uploadfile/">
                    Tài liệu
                    thiết kế
                </a>
            </li>
            <li class="footer-navigation__item">
                <a class="footer-navigation__link"
                   href="https://lms.yamaha-motor.com.vn/" target="_blank">E-LEARNING</a>
            </li>
        </ul>
    </div>
</div>
<div class="footer-row footer-info">
    <div class="footer-left footer-left-pc">
        <h3>Nhóm 4 - ASP.NET</h3>

        <p class="salenoti">
            <a href="#" target="_blank"
               rel="noopenner">
                <picture>
                    <img alt="Bộ Công Thương" title=""
                         src="~/wwwroot/Images/logoSaleNoti.png"
                         width="150" height="57" class="notLazy webpexpress-processed">
                </picture>
            </a>
        </p>
    </div>
    <div class="txt-info">
        <h3>THÔNG TIN LIÊN HỆ</h3>
        <ul class="btn-info">
            <li class="txt-tel">
                <a href="tel:18001588">
                    <span>
                        <noscript>
                            <img height="20"
                                 src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/ico/ico_tel.svg"
                                 alt="18001588">
                        </noscript><img class="lazyload" height="20"
                                        src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%2020%22%3E%3C/svg%3E'
                                        data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/ico/ico_tel.svg"
                                        alt="18001588">Hotline (miễn phí): <b>123456789</b>
                    </span>
                </a>
            </li>
            <li class="txt-mailto">
                <a href="mailto:cskh@yamaha-motor.com.vn">
                    <span>
                        <noscript>
                            <img height="20"
                                 src="~/wwwroot/Images/ico-tel.png"
                                 alt="cskh@yamaha-motor.com.vn">
                        </noscript><img class="lazyload" height="20"
                                        src="~/wwwroot/Images/ico-mail.png"
                                        alt="cskh@yamaha-motor.com.vn"><b>Email:</b> dotienkhai06@gmail.com
                </a>
            </li>
        </ul>
    </div>

</div>
<div class="copyright">
    <p>&copy; 2021 bản quyền thuộc về Nhóm 4</p>
</div>
