<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1, maximum-scale=3">
    <meta name="format-detection" content="telephone=no">
    <meta name="facebook-domain-verification" content="0yvbvc9q3x1tlc8mhbpx8b3xxtvaej" />
    <meta name="description" content="Moto Yamaha 2021 luôn thuộc TOP các loại xe máy mới ra bán chạy hiện nay. Nhiều người chọn mua xe máy Yamaha do thiết kế thời trang và tiết kiệm nhiên liệu.
    ">
    <meta property="og:description" content="Moto Yamaha 2021 luôn thuộc TOP các loại xe máy mới ra bán chạy hiện nay. Nhiều người chọn mua xe máy Yamaha do thiết kế thời trang và tiết kiệm nhiên liệu.
    " />
    <meta property="og:title" content="Giá các sản phẩm xe gắn máy mới nhất 2021 từ Yamaha Việt Nam
    " />
    <meta property="og:url" content="https://yamaha-motor.com.vn/xe" />
    <meta property="og:site_name" content="Yamaha Motor Việt Nam" />
    <meta name="twitter:title" content="Giá các sản phẩm xe gắn máy mới nhất 2021 từ Yamaha Việt Nam
    " />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Moto Yamaha 2021 luôn thuộc TOP các loại xe máy mới ra bán chạy hiện nay. Nhiều người chọn mua xe máy Yamaha do thiết kế thời trang và tiết kiệm nhiên liệu.
    " />
    <title>Nhóm 4-ASP.NET</title>

    <style media="all">
        .main-slider__item a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 3;
        }

        .product-sublist__img img {
            max-width: 100%;
        }

        .newsDetail .post_content table img {
            margin-bottom: 0;
        }

        @@media (max-width:767px) {
            .newsDetail .post_content table tr td {
                padding: 5px;
            }
        }
    </style>

    <script>
        var IS_PSI = navigator.userAgent.includes("Google Page Speed") !== false || navigator.userAgent.includes(
            "Lighthouse") !== false || navigator.userAgent.includes("Speed Insights") !== false;
        if (!IS_PSI) {
            document.addEventListener('DOMContentLoaded', function () {
                $(window).on('load', function () {
                    setTimeout(function () {
                        if (location.origin == 'https://yamaha-motor.com.vn') {
                            (function (w, d, s, l, i) {
                                w[l] = w[l] || [];
                                w[l].push({
                                    'gtm.start': new Date().getTime(),
                                    event: 'gtm.js'
                                });
                                var f = d.getElementsByTagName(s)[0],
                                    j = d.createElement(s),
                                    dl = l != 'dataLayer' ? '&l=' + l : '';
                                j.async = true;
                                j.src =
                                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                                f.parentNode.insertBefore(j, f);
                            })(window, document, 'script', 'dataLayer', 'GTM-P3Z7CL7');
                        } else {
                            (function (w, d, s, l, i) {
                                w[l] = w[l] || [];
                                w[l].push({
                                    'gtm.start': new Date().getTime(),
                                    event: 'gtm.js'
                                });
                                var f = d.getElementsByTagName(s)[0],
                                    j = d.createElement(s),
                                    dl = l != 'dataLayer' ? '&l=' + l : '';
                                j.async = true;
                                j.src =
                                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                                f.parentNode.insertBefore(j, f);
                            })(window, document, 'script', 'dataLayer', 'GTM-KNSK89T');
                        }
                    }, 500)
                });
            });
        }
    </script>
    <script>
        function getCookie(e) {
            for (var o = e + "=", t = document.cookie.split(";"), i = 0; i < t.length; i++) {
                for (var r = t[i];
                    " " == r.charAt(0);) r = r.substring(1);
                if (0 == r.indexOf(o)) return r.substring(o.length, r.length)
            }
            return ""
        }

        function setCookie(e, o, t) {
            var i = new Date;
            i.setTime(i.getTime() + 24 * t * 60 * 60 * 1e3);
            var r = "expires=" + i.toUTCString();
            document.cookie = e + "=" + o + ";" + r + ";path=/"
        }

        if (!IS_PSI) {
            var database = 'test_ymvn_log';
            var sscDomain = 'yamaha.alive-web.site';
            var sscServer = 'yamaha.alive-web.site';
            if (location.origin == 'https://yamaha-motor.com.vn') {
                database = 'ymvn_log';
                sscDomain = 'yamaha-motor.com.vn';
                sscServer = 'ssc.yamaha-motor.com.vn';
                ! function (a, c) {
                    if (void 0 === c[a]) {
                        c[a] = function () {
                            c[a].clients.push(this);
                            this._init = [Array.prototype.slice.call(arguments)]
                        };
                        c[a].clients = [];
                        for (var b = function (e) {
                            return function () {
                                return this["_" + e] = this["_" + e] || [], this["_" + e].push(Array
                                    .prototype.slice.call(arguments)), this
                            }
                        }, d =
                                "addRecord blockEvents fetchServerCookie fetchGlobalID fetchUserSegments resetUUID ready setSignedMode setAnonymousMode set trackEvent trackPageview trackClicks unblockEvents"
                                    .split(" "), f = 0; f < d.length; f++) {
                            var g = d[f];
                            c[a].prototype[g] = b(g)
                        }
                        b = document.createElement("script");
                        b.type = "text/javascript";
                        b.async = !0;
                        b.src = ("https:" === document.location.protocol ? "https:" : "http:") +
                            "//cdn.treasuredata.com/sdk/2.3/td.min.js";
                        d = document.getElementsByTagName("script")[0];
                        d.parentNode.insertBefore(b, d)
                    }
                }("Treasure", this);
            } else {
                ! function (t, e) {
                    if (void 0 === e[t]) {
                        e[t] = function () {
                            e[t].clients.push(this), this._init = [Array.prototype.slice.call(arguments)]
                        }, e[t].clients = [];
                        for (var r = function (t) {
                            return function () {
                                return this["_" + t] = this["_" + t] || [], this["_" + t].push(Array
                                    .prototype.slice.call(arguments)), this
                            }
                        }, s = ["addRecord", "blockEvents", "fetchServerCookie", "fetchGlobalID",
                            "fetchUserSegments", "resetUUID", "ready", "setSignedMode", "setAnonymousMode",
                            "set", "trackEvent", "trackPageview", "trackClicks", "unblockEvents"
                        ], n = 0; n < s.length; n++) {
                            var c = s[n];
                            e[t].prototype[c] = r(c)
                        }
                        var o = document.createElement("script");
                        o.type = "text/javascript", o.async = !0, o.src = ("https:" === document.location.protocol ?
                            "https:" : "http:") + "//cdn.treasuredata.com/sdk/2.3/td.min.js";
                        var a = document.getElementsByTagName("script")[0];
                        a.parentNode.insertBefore(o, a)
                    }
                }("Treasure", this);
            }

            var optionTD = {
                host: "tokyo.in.treasuredata.com",
                writeKey: "161/b268157bef4f2b907320a3487a38a0e05dd4d474",
                database: database,
                startInSignedMode: !0,
                sscDomain: sscDomain,
                sscServer: sscServer,
                useServerSideCookie: !0
            };
            console.log(optionTD);
            var td = new Treasure(optionTD);

            td.set("$global", "td_global_id", "td_global_id");

            function fireEvents() {
                td.trackClicks();
                td.trackPageview("ymvn_web_log")

            }
            var successCallbackSSC = function (a) {
                td.set("$global", {
                    td_ssc_id: a
                });
                setCookie('td_ssc_id', a, 1);
                fireEvents()
            },
                errorCallbackSSC = function (a) {
                    fireEvents()
                };

            td.fetchServerCookie(successCallbackSSC, errorCallbackSSC);
        }
    </script>
    <meta property="fb:app_id" content="389034368644483">
    <link rel="icon" href="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/favicon.ico"
          type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="~/wwwroot/css/main.css">
</head>

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3Z7CL7" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <header class="header">
        <div class="header-row">
            <div class="header-logo">
                <a href="/">
                    <picture>
                        <source srcset=""
                                type="image/webp">
                        <img src="~/wwwroot/Images/logo-yamaha.png"
                             style="width: 120px;"
                             alt="" class="webpexpress-processed">
                    </picture>
                </a>
            </div>
            <nav class="navigation">
                <div class="navigation-top">
                    <ul class="navigation-top__list">
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/gioi-thieu/">về yamaha</a>
                        </li>
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/tin-tuc/">xe số</a>
                        </li>
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/tuyen-dung-yamaha/">xe con</a>
                        </li>
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/bang-gia-xe-may/">xe ga</a>
                        </li>
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/ban-hang-doanh-nghiep/">xe sport</a>
                        </li>
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/lai-xe-an-toan/">xe touring</a>
                        </li>
                        <li class="navigation-top__item top-search--input">
                            <div class="navigation-top__search hover">
                                <form class="top-search" method="get" action="/">
                                    <input class="form-control" name="s"
                                           placeholder="Tìm kiếm..."> <button class="btn-search">
                                        <svg class="btn-search__icon" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="485.213px"
                                             height="485.213px" viewBox="0 0 485.213 485.213"
                                             style="enable-background:new 0 0 485.213 485.213" xml:space="preserve">
                                        <g>
                                        <g>
                                        <path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951    C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46    c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465    C318.424,257.208,257.206,318.416,181.956,318.416z" />
                                        <path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324    c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </li>
                        <li class="navigation-top__item top-search--hide" data-hover="true">
                            <a class="navigation-top__link" href="/Admin/Login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hamburger-nav" data-menu="toggleClick">
                <div class="hamburger-nav__menu">
                    <div class="hamburger-nav__icon"></div>
                </div>
                <div class="hamburger-nav__bg"></div>
            </div>
        </div>
    </header>
    <nav class="navigation-sp">
        <ul class="navigation-sp__list">
            <li class="navigation-sp__item sub menu-discover__sp">
                <a class="navigation-sp__link">
                    NEW ME
                    DISCOVER<span>YAMAHA WORLDS</span>
                </a> <span class="btn-submenu" data-submenu=""></span>
                <div class="submenu-discover" style="display: none;">
                    <div class="submenu-discover__box">
                        <p class="submenu-discover__title">Scooter World</p> <a href="https://newmediscover.yamaha-motor.com.vn/" target="_blank" rel="noopener"
                                                                                class="submenu-discover__img">
                            <picture>
                                <source data-srcset="https://yamaha-motor.com.vn/wp/wp-content/webp-express/webp-images/doc-root/wp/wp-content/themes/yamaha/assets/img/share/bnr1_hybrid02_sp.jpg.webp"
                                        type="image/webp">
                                <noscript>
                                    <img src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr1_hybrid02_sp.jpg"
                                         width="100%" alt="SCOOTER WORLD" class="webpexpress-processed">
                                </noscript>
                                <img src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'
                                     data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr1_hybrid02_sp.jpg"
                                     width="100%" alt="SCOOTER WORLD" class="lazyload webpexpress-processed">
                            </picture>
                        </a>
                    </div>
                    <div class="submenu-discover__box">
                        <p class="submenu-discover__title">Sport World</p> <a href="https://yridersclub.yamaha-motor.com.vn/" target="_blank" rel="noopener"
                                                                              class="submenu-item__img">
                            <picture>
                                <source data-srcset="https://yamaha-motor.com.vn/wp/wp-content/webp-express/webp-images/doc-root/wp/wp-content/themes/yamaha/assets/img/share/bnr_riders_sp_2x.jpg.webp"
                                        type="image/webp">
                                <noscript>
                                    <img src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_riders_sp_2x.jpg"
                                         width="100%" alt="Sport World" class="webpexpress-processed">
                                </noscript>
                                <img src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'
                                     data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_riders_sp_2x.jpg"
                                     width="100%" alt="Sport World" class="lazyload webpexpress-processed">
                            </picture>
                        </a> <a href="https://yamaha-motor.com.vn/motorsport/" class="submenu-item__img">
                            <picture>
                                <source data-srcset="https://yamaha-motor.com.vn/wp/wp-content/webp-express/webp-images/doc-root/wp/wp-content/themes/yamaha/assets/img/share/bnr_motosport_sp.jpg.webp"
                                        type="image/webp">
                                <noscript>
                                    <img src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_motosport_sp.jpg"
                                         width="100%" alt="Sport World" class="webpexpress-processed">
                                </noscript>
                                <img src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'
                                     data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_motosport_sp.jpg"
                                     width="100%" alt="Sport World" class="lazyload webpexpress-processed">
                            </picture>
                        </a>
                    </div>
                </div>
            </li>
            <li class="navigation-sp__item not-sub">
                <a class="navigation-sp__link" href="/xe/">Sản phẩm</a> <span class="btn-submenu" data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a class="navigation-sp__link" href="/myyamahamotor/">
                    My Yamaha
                    App
                </a> <span class="btn-submenu" data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a class="navigation-sp__link" href="/cong-nghe/">Công Nghệ</a>
                <span class="btn-submenu" data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a href="/dich-vu">Dịch Vụ</a> <span class="btn-submenu"
                                                     data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a href="/phu-tung">Phụ Tùng</a> <span class="btn-submenu"
                                                       data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a href="/khuyen-mai">Khuyến Mãi</a> <span class="btn-submenu"
                                                           data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a href="/he-thong-dai-ly-yamaha/">Đại Lý</a> <span class="btn-submenu" data-submenu=""></span>
            </li>
            <li class="navigation-sp__item not-sub">
                <a class="navigation-top__link" href="/bang-gia-xe-may/">
                    bảng giá
                    xe máy
                </a>
            </li>
            <li class="navigation-sp__item not-sub">
                <a class="navigation-top__link" href="/ban-hang-doanh-nghiep/">
                    BÁN
                    HÀNG DOANH NGHIỆP
                </a>
            </li>
            <li class="navigation-sp__item not-sub">
                <a class="navigation-top__link" href="/lai-xe-an-toan/">
                    LÁI XE AN
                    TOÀN
                </a>
            </li>
            <li class="navigation-sp__item item-small">
                <a class="navigation-sp__link" href="/gioi-thieu/">Về Yamaha</a>
            </li>
            <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/tin-tuc">Tin Tức</a></li>
            <li class="navigation-sp__item item-small">
                <a class="navigation-sp__link" href="/tuyen-dung-yamaha/">
                    Tuyển
                    Dụng
                </a>
            </li>
            <li class="navigation-sp__item item-small">
                <a class="navigation-sp__link" href="/catalogue/">
                    Catalogue Điện
                    Tử
                </a>
            </li>
            <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/lien-he/">Liên Hệ</a></li>
            <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/?s=">Tìm Kiếm</a></li>
            <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/hoi-dap/">Hỏi Đáp</a></li>
            <li class="navigation-sp__item item-small">
                <a class="navigation-sp__link" href="/policy/">
                    Chính sách bảo
                    mật
                </a>
            </li>
            <li class="navigation-sp__item item-small">
                <a class="navigation-sp__link" href="/uploadfile/">
                    Tài liệu thiết
                    kế
                </a>
            </li>
            <li class="navigation-sp__item item-small">
                <a class="navigation-sp__link"
                   href="https://lms.yamaha-motor.com.vn/" target="_blank">E-LEARNING</a>
            </li>
        </ul>
        <p class="navigation-sp__copyright">© 2019 BẢN QUYỀN THUỘC VỀ YAMAHA MOTOR VIỆT NAM</p>
    </nav>
    <main class="main">
        <div class="overlay" style="background-color: #ccc">
            <div class="overlay-content">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="footer">
        @Html.Partial("_Footer")
    </footer>
    <script src="~/wwwroot/js/main.js"></script>

    </noscript>
    <script data-noptimize="1">
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.loadMode = 1;
    </script>
    <script async data-noptimize="1"
            src='https://yamaha-motor.com.vn/wp/wp-content/plugins/autoptimize/classes/external/js/lazysizes.min.js?ao_version=2.6.1'>
    </script>
    <link rel='stylesheet' id='product_css1-css'
          href='https://yamaha-motor.com.vn/assets/css/pages/product.css?ver=1.0.90' type='text/css' media='all' />

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var w = $(window).width();
            $(".product-list__item-img").each(function (index, i) {
                if (w >= 768) {
                    if ($("html").hasClass('webp')) $(i).attr('src', $(i).attr('data-pcwebp'));
                    else $(i).attr('src', $(i).attr('data-pc'));
                } else {
                    $(".page-slide__video-item").css({
                        'background-image': 'url(https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/youtube-thumb-downloaded/U3Nqx7BbRqs.jpg)',
                    })
                    if ($("html").hasClass('webp')) $(i).attr('src', $(i).attr('data-spwebp'));
                    else $(i).attr('src', $(i).attr('data-sp'));
                }
            })
            $(window).on('load', function (event) {
                if (supportsVideoType('h264')) {
                    setTimeout(function () {
                        $(".page-slide__video-item").append(
                            '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/U3Nqx7BbRqs?enablejsapi=1&autoplay=1&fs=0&iv_load_policy=3&rel=0&showinfo=0&playsinline=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
                        );
                    }, 500)
                } else {
                    $(".page-slide__video-item").css({
                        'background-image': 'url(https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/youtube-thumb-downloaded/U3Nqx7BbRqs.jpg)',
                    })
                }
            });

        });
    </script>
    <script defer
            src="https://yamaha-motor.com.vn/wp/wp-content/cache/autoptimize/js/autoptimize_31d8d409d2efa8ec1c5575c85183e12b.js">
    </script>
    @RenderSection("Scripts",required: false) 
</body>

</html>