<ul class="navigation-sp__list">
    <li class="navigation-sp__item sub menu-discover__sp">
        <a class="navigation-sp__link">
            NEW ME
            DISCOVER<span>YAMAHA WORLDS</span>
        </a> <span class="btn-submenu" data-submenu=""></span>
        <div class="submenu-discover" style="display: none;">
            <div class="submenu-discover__box">
                <p class="submenu-discover__title">Scooter World</p> <a href="https://newmediscover.yamaha-motor.com.vn/" target="_blank" rel="noopener"
                                                                        class="submenu-discover__img">
                    <picture>
                        <source data-srcset="https://yamaha-motor.com.vn/wp/wp-content/webp-express/webp-images/doc-root/wp/wp-content/themes/yamaha/assets/img/share/bnr1_hybrid02_sp.jpg.webp"
                                type="image/webp">
                        <noscript>
                            <img src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr1_hybrid02_sp.jpg"
                                 width="100%" alt="SCOOTER WORLD" class="webpexpress-processed">
                        </noscript>
                        <img src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'
                             data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr1_hybrid02_sp.jpg"
                             width="100%" alt="SCOOTER WORLD" class="lazyload webpexpress-processed">
                    </picture>
                </a>
            </div>
            <div class="submenu-discover__box">
                <p class="submenu-discover__title">Sport World</p> <a href="https://yridersclub.yamaha-motor.com.vn/" target="_blank" rel="noopener"
                                                                      class="submenu-item__img">
                    <picture>
                        <source data-srcset="https://yamaha-motor.com.vn/wp/wp-content/webp-express/webp-images/doc-root/wp/wp-content/themes/yamaha/assets/img/share/bnr_riders_sp_2x.jpg.webp"
                                type="image/webp">
                        <noscript>
                            <img src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_riders_sp_2x.jpg"
                                 width="100%" alt="Sport World" class="webpexpress-processed">
                        </noscript>
                        <img src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'
                             data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_riders_sp_2x.jpg"
                             width="100%" alt="Sport World" class="lazyload webpexpress-processed">
                    </picture>
                </a> <a href="https://yamaha-motor.com.vn/motorsport/" class="submenu-item__img">
                    <picture>
                        <source data-srcset="https://yamaha-motor.com.vn/wp/wp-content/webp-express/webp-images/doc-root/wp/wp-content/themes/yamaha/assets/img/share/bnr_motosport_sp.jpg.webp"
                                type="image/webp">
                        <noscript>
                            <img src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_motosport_sp.jpg"
                                 width="100%" alt="Sport World" class="webpexpress-processed">
                        </noscript>
                        <img src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E'
                             data-src="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/assets/img/share/bnr_motosport_sp.jpg"
                             width="100%" alt="Sport World" class="lazyload webpexpress-processed">
                    </picture>
                </a>
            </div>
        </div>
    </li>
    <li class="navigation-sp__item not-sub">
        <a class="navigation-sp__link" href="/xe/">Sản phẩm</a> <span class="btn-submenu" data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a class="navigation-sp__link" href="/myyamahamotor/">
            My Yamaha
            App
        </a> <span class="btn-submenu" data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a class="navigation-sp__link" href="/cong-nghe/">Công Nghệ</a>
        <span class="btn-submenu" data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a href="/dich-vu">Dịch Vụ</a> <span class="btn-submenu"
                                             data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a href="/phu-tung">Phụ Tùng</a> <span class="btn-submenu"
                                               data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a href="/khuyen-mai">Khuyến Mãi</a> <span class="btn-submenu"
                                                   data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a href="/he-thong-dai-ly-yamaha/">Đại Lý</a> <span class="btn-submenu" data-submenu=""></span>
    </li>
    <li class="navigation-sp__item not-sub">
        <a class="navigation-top__link" href="/bang-gia-xe-may/">
            bảng giá
            xe máy
        </a>
    </li>
    <li class="navigation-sp__item not-sub">
        <a class="navigation-top__link" href="/ban-hang-doanh-nghiep/">
            BÁN
            HÀNG DOANH NGHIỆP
        </a>
    </li>
    <li class="navigation-sp__item not-sub">
        <a class="navigation-top__link" href="/lai-xe-an-toan/">
            LÁI XE AN
            TOÀN
        </a>
    </li>
    <li class="navigation-sp__item item-small">
        <a class="navigation-sp__link" href="/gioi-thieu/">Về Yamaha</a>
    </li>
    <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/tin-tuc">Tin Tức</a></li>
    <li class="navigation-sp__item item-small">
        <a class="navigation-sp__link" href="/tuyen-dung-yamaha/">
            Tuyển
            Dụng
        </a>
    </li>
    <li class="navigation-sp__item item-small">
        <a class="navigation-sp__link" href="/catalogue/">
            Catalogue Điện
            Tử
        </a>
    </li>
    <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/lien-he/">Liên Hệ</a></li>
    <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/?s=">Tìm Kiếm</a></li>
    <li class="navigation-sp__item item-small"><a class="navigation-sp__link" href="/hoi-dap/">Hỏi Đáp</a></li>
    <li class="navigation-sp__item item-small">
        <a class="navigation-sp__link" href="/policy/">
            Chính sách bảo
            mật
        </a>
    </li>
    <li class="navigation-sp__item item-small">
        <a class="navigation-sp__link" href="/uploadfile/">
            Tài liệu thiết
            kế
        </a>
    </li>
    <li class="navigation-sp__item item-small">
        <a class="navigation-sp__link"
           href="https://lms.yamaha-motor.com.vn/" target="_blank">E-LEARNING</a>
    </li>
</ul>
<p class="navigation-sp__copyright">© 2019 BẢN QUYỀN THUỘC VỀ YAMAHA MOTOR VIỆT NAM</p>
