<div class="news news-bottom">
    <div class="sp__news-title">
        <h2>Tin Tức</h2>
    </div>
    <div class="news-row news-slide">
        <div class="news-col">
            <a href="https://yamaha-motor.com.vn/tin-tuc/exciter-155-vva-ra-mat-phien-ban-gioi-han-mau-moi-cuc-chat-san-sang-buoc-tiep-chinh-phuc-dang-cap-moi/"
               class="news-item">
                <div data-img="loadimg"
                     data-pc="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/06/Exciter-COC-t6-01.jpg&amp;h=218&amp;w=310"
                     data-pcwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/06/Exciter-COC-t6-01.jpg&amp;h=218&amp;w=310"
                     data-tb="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/06/Exciter-COC-t6-01.jpg&amp;h=218&amp;w=310"
                     data-tbwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/06/Exciter-COC-t6-01.jpg&amp;h=218&amp;w=310"
                     data-sp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/06/Exciter-COC-t6-01.jpg&amp;h=218&amp;w=310"
                     data-spwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/06/Exciter-COC-t6-01.jpg&amp;h=218&amp;w=310"
                     style="position: relative; overflow: hidden; padding-top: 70.33%; background-size: cover;">
                </div>
                <div class="news-item__title tb__appear pc__appear">
                    EXCITER 155 VVA PHIÊN BẢN GIỚI HẠN
                    MÀU MỚI CỰC COOL - TỎ KHÍ CHẤT, ĐỊNH VỊ THẾ!
                </div>
                <div class="news-item__title sp__appear">
                    EXCITER 155 VVA PHIÊN BẢN GIỚI HẠN MÀU MỚI CỰC
                    COOL - TỎ KHÍ CHẤT, ĐỊNH VỊ THẾ!
                </div>
            </a>
        </div>
        <div class="news-col">
            <a href="https://yamaha-motor.com.vn/tin-tuc/su-kien-duoc-mong-cho-nhat-yamaha-expo-trien-lam-yamaha-motor-se-dot-nong-da-nang-dip-le-30-04-nay/"
               class="news-item">
                <div data-img="loadimg"
                     data-pc="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/210417_expo-DNg.jpg&amp;h=218&amp;w=310"
                     data-pcwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/210417_expo-DNg.jpg&amp;h=218&amp;w=310"
                     data-tb="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/210417_expo-DNg.jpg&amp;h=218&amp;w=310"
                     data-tbwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/210417_expo-DNg.jpg&amp;h=218&amp;w=310"
                     data-sp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/210417_expo-DNg.jpg&amp;h=218&amp;w=310"
                     data-spwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/210417_expo-DNg.jpg&amp;h=218&amp;w=310"
                     style="position: relative; overflow: hidden; padding-top: 70.33%; background-size: cover;">
                </div>
                <div class="news-item__title tb__appear pc__appear">
                    SỰ KIỆN ĐƯỢC MONG CHỜ NHẤT: YAMAHA
                    EXPO - TRIỂN LÃM YAMAHA MOTOR SẼ ĐỐT NÓNG ĐÀ NẴNG DỊP LỄ 30/04 NÀY!
                </div>
                <div class="news-item__title sp__appear">
                    SỰ KIỆN ĐƯỢC MONG CHỜ NHẤT: YAMAHA EXPO - TRIỂN
                    LÃM YAMAHA MOTOR SẼ ĐỐT NÓNG ĐÀ NẴNG DỊP LỄ 30/04 NÀY!
                </div>
            </a>
        </div>
        <div class="news-col">
            <a href="https://yamaha-motor.com.vn/tin-tuc/yamaha-gp-2021-feel-the-speed-dau-truong-toc-do-danh-cho-cac-tay-dua-ban-linh-nhat/"
               class="news-item">
                <div data-img="loadimg"
                     data-pc="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/1A.jpg&amp;h=218&amp;w=310"
                     data-pcwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/1A.jpg&amp;h=218&amp;w=310"
                     data-tb="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/1A.jpg&amp;h=218&amp;w=310"
                     data-tbwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/1A.jpg&amp;h=218&amp;w=310"
                     data-sp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/1A.jpg&amp;h=218&amp;w=310"
                     data-spwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/04/1A.jpg&amp;h=218&amp;w=310"
                     style="position: relative; overflow: hidden; padding-top: 70.33%; background-size: cover;">
                </div>
                <div class="news-item__title tb__appear pc__appear">
                    YAMAHA GP 2021: FEEL THE SPEED - ĐẤU
                    TRƯỜNG TỐC ĐỘ DÀNH CHO CÁC TAY ĐUA BẢN LĨNH NHẤT
                </div>
                <div class="news-item__title sp__appear">
                    YAMAHA GP 2021: FEEL THE SPEED - ĐẤU TRƯỜNG TỐC
                    ĐỘ DÀNH CHO CÁC TAY ĐUA BẢN LĨNH NHẤT
                </div>
            </a>
        </div>
        <div class="news-col">
            <a href="https://yamaha-motor.com.vn/tin-tuc/circuit-run-binh-phuoc-chao-don-hang-tram-anh-em-clb-xe-con-tay-cung-trai-nghiem-exciter-155-vva-tai-mo-phong-duong-dua-yamaha-gp/"
               class="news-item">
                <div data-img="loadimg"
                     data-pc="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/PHU_5669.jpg&amp;h=218&amp;w=310"
                     data-pcwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/PHU_5669.jpg&amp;h=218&amp;w=310"
                     data-tb="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/PHU_5669.jpg&amp;h=218&amp;w=310"
                     data-tbwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/PHU_5669.jpg&amp;h=218&amp;w=310"
                     data-sp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/PHU_5669.jpg&amp;h=218&amp;w=310"
                     data-spwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/PHU_5669.jpg&amp;h=218&amp;w=310"
                     style="position: relative; overflow: hidden; padding-top: 70.33%; background-size: cover;">
                </div>
                <div class="news-item__title tb__appear pc__appear">
                    CIRCUIT RUN BÌNH PHƯỚC: CHÀO ĐÓN
                    HÀNG TRĂM ANH EM CLB XE CÔN TAY CÙNG TRẢI NGHIỆM EXCITER 155 VVA TẠI MÔ PHỎNG ĐƯỜNG
                    ĐUA YAMAHA GP
                </div>
                <div class="news-item__title sp__appear">
                    CIRCUIT RUN BÌNH PHƯỚC: CHÀO ĐÓN HÀNG TRĂM ANH
                    EM CLB XE CÔN TAY CÙNG TRẢI NGHIỆM EXCITER 155 VVA TẠI MÔ PHỎNG ĐƯỜNG ĐUA YAMAHA GP
                </div>
            </a>
        </div>
        <div class="news-col">
            <a href="https://yamaha-motor.com.vn/tin-tuc/the-le-thi-dau-giai-dua-mo-to-toan-quoc-yamaha-gp-feel-the-speed-2021/"
               class="news-item">
                <div data-img="loadimg"
                     data-pc="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-pcwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-tb="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-tbwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-sp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-spwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     style="position: relative; overflow: hidden; padding-top: 70.33%; background-size: cover;">
                </div>
                <div class="news-item__title tb__appear pc__appear">
                    THỂ LỆ THI ĐẤU GIẢI ĐUA MÔ TÔ TOÀN
                    QUỐC YAMAHA GP FEEL THE SPEED 2021
                </div>
                <div class="news-item__title sp__appear">
                    THỂ LỆ THI ĐẤU GIẢI ĐUA MÔ TÔ TOÀN QUỐC YAMAHA
                    GP FEEL THE SPEED 2021
                </div>
            </a>
        </div>
        <div class="news-col">
            <a href="https://yamaha-motor.com.vn/tin-tuc/giai-dua-xe-yamaha-gp-2021-su-kien-dac-biet-danh-rieng-cho-cac-anh-em-bikers-dam-me-toc-do/"
               class="news-item">
                <div data-img="loadimg"
                     data-pc="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-pcwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-tb="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-tbwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-sp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     data-spwebp="https://yamaha-motor.com.vn/wp/wp-content/themes/yamaha/timthumb/timthumb.php?src=/wp/wp-content/uploads/2021/03/racing-2021-03-2040x1148.jpg&amp;h=218&amp;w=310"
                     style="position: relative; overflow: hidden; padding-top: 70.33%; background-size: cover;">
                </div>
                <div class="news-item__title tb__appear pc__appear">
                    GIẢI ĐUA MÔ TÔ YAMAHA GP 2021: SỰ
                    KIỆN ĐẶC BIỆT DÀNH RIÊNG CHO CÁC ANH EM BIKERS ĐAM MÊ TỐC ĐỘ
                </div>
                <div class="news-item__title sp__appear">
                    GIẢI ĐUA MÔ TÔ YAMAHA GP 2021: SỰ KIỆN ĐẶC BIỆT
                    DÀNH RIÊNG CHO CÁC ANH EM BIKERS ĐAM MÊ TỐC ĐỘ
                </div>
            </a>
        </div>
    </div>
</div>